* {
  box-sizing: border-box;
}

html {
  color: $color-light;

  font-family: $font-main;
  font-size: 16px;
}

body {
  @media (min-width: 1600px) {
    .not-responsive {
      display: none;
    }
  }
  @media (max-width: 1599px) {
    > * {
      display: none !important;
    }

    .not-responsive {
      display: flex !important;
      align-items: center;

      height: 100vh;
      padding-right: 100px;
      padding-left: 100px;

      color: $color-secondary-2-4;

      font-size: 4rem;
    }
  }
}

h1 {
  font-family: $font-header;
}

h2 {
  font-family: $font-header;
}

h3 {
  font-family: $font-header;
}

a {
  text-decoration: none;

  color: $color-light;
}

.container {
  max-width: $xl;
  margin: auto;
  padding: 100px $gap;
}
